<section id="navigation">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar-toggler navbar-expand-md fixed-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar">
            <span class="navbar-toggle-icon" style="color: purple;">
              &#9776;
            </span>
            <a href="#" class="navbar-brand">
              <i class="fa fa-home" style="font-size: 1em; color: purple;"></i>
            </a>
            <div class="collapse navbar-collapse" id="navigation-bar">
              <ul class="navbar ml-auto">
                <li class="nav-item"><a href="#statistic">STATISTICS</a></li>
                <li class="nav-item"><a href="#footer">CONTACT</a></li>
              </ul>
            </div>
          </button>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="h1-title">[ Corona ]</h1>
        <p class="text-center">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error rerum nesciunt voluptas, corrupti quia minima
          tempore voluptatibus in aperiam. Quas soluta sequi esse eius, repudiandae fuga doloribus praesentium quos
          minima!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="statistic">
  <div class="container text-center">
    <div class="row">
      <div class="col text-left">
        <h2>STATISTICS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col text-center mb-3">
        <form action="">
          <select (change)="countryChanged($event.target.value)" name="" id="country" class="form-control">
            <option selected value="global">Global</option>
            <option value="South Africa">South Africa</option>
            <option *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
          </select>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 md-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">INFECTED</h3>
            <p class="card-text" [countUp]="data.confirmed">{{ data.confirmed | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of active cases of Covid-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-recovered">
          <div class="card-body">
            <h3 class="card-title">RECOVERED</h3>
            <p class="card-text" [countUp]="data.recovered">{{ data.recovered | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of recovered cases of Covid-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-deaths">
          <div class="card-body">
            <h3 class="card-title">DEATHS</h3>
            <p class="card-text" [countUp]="data.deaths">{{ data.deaths | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of death cases of Covid-19</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="graph">
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas *ngIf="global" baseChart
        [chartType] = "lineChartType"
        [datasets] = "lineChartData"
        [labels] = "lineChartLabels">

        </canvas>
        <canvas *ngIf="!global" baseChart
        [chartType] = "barChartType"
        [datasets] = "barChartData"
        [labels] = "barChartLabels">

        </canvas>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md8 col-sm-6">
        <h3>About Me</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, tempore at? Minus deleniti doloribus
          perferendis ipsum eum natus quia officiis labore tenetur magni. Culpa sequi qui, perferendis eveniet maiores
          nobis?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, ex. Nam expedita inventore numquam animi
          ducimus adipisci delectus architecto at ab! Iste atque fugiat et soluta id. Quos, soluta sapiente.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>Keep in touch</h3>
        <ul class="list-unstyle">
          <li>
            <p><strong><i class="fa fa-map-marker-alt"></i>Address: </strong>Location, street, code</p>
          </li>
          <li>
            <p><strong><i class="fa fa-envelope"></i>Email: </strong><a href="#">mtsharethabiso@gmail.com</a></p>
          </li>
          <li>
            <p><strong><i class="fa fa-phone"></i>Phone: </strong>+27 65 720 3023</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
