<section id="navigation">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar-toggler navbar-expand-md fixed-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar">
            <span class="navbar-toggle-icon" style="color: lightseagreen">
              &#9776;
            </span>
            <a href="#" class="navbar-brand">
              <i class="fa fa-home" style="font-size: 1em; color: lightseagreen;"></i>
            </a>
            <div class="collapse navbar-collapse" id="navigation-bar">
              <ul class="navbar ml-auto">
                <li class="nav-item"><a href="#statistic">STATISTICS</a></li>
              </ul>
              <ul class="navbar ml-auto">
                <li class="nav-item"><a href="#footer">CONTACT</a></li>
              </ul>
            </div>
          </button>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="header">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-top: 300px;">
        <h1 class="h1-title" style="font-family: Arial, Helvetica, sans-serif; font-style: oblique;">COVID-19 CASES TRACKER</h1>
        <p class="text-center">
          Corona currently has almost the whole world on it's knees. Us non medical practitioners have little to none that
          we can do to develop a vaccine, but what we can do, is abiding to the regulations set out by the people that can.
          Luckily, we can also keep track of how the numbers are looking. A subtle scroll down will present you with the most recent numbers
        </p>
      </div>
    </div>
  </div>
</section>

<section id="statistic">
  <div class="container text-center">

    <div class="row">
      <div class="col text-center mb-3">
        <form action="">
          <select style="text-transform: uppercase; text-align-last:center; font-weight: 500; color: lightseagreen;" (change)="countryChanged($event.target.value)" name="" id="country" class="form-control">
            <option selected value="South Africa">South Africa</option>
            <option value="global">Worldwide</option>
            <option *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
          </select>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 md-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 style="color: lightseagreen;" class="card-title">INFECTED</h3>
            <p class="card-text" [countUp]="data.confirmed">{{ data.confirmed | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of active cases of Covid-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-recovered">
          <div class="card-body">
            <h3 style="color: lightseagreen;" class="card-title">RECOVERED</h3>
            <p class="card-text" [countUp]="data.recovered">{{ data.recovered | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of recovered cases of Covid-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-deaths">
          <div class="card-body">
            <h3 style="color: lightseagreen;" class="card-title">DEATHS</h3>
            <p class="card-text" [countUp]="data.deaths">{{ data.deaths | number }}</p>
            <p>{{ data.lastupdate | date:'longDate' }}</p>
            <p>Number of death cases of Covid-19</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="graph">
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas *ngIf="global" baseChart
        [chartType] = "lineChartType"
        [datasets] = "lineChartData"
        [labels] = "lineChartLabels">

        </canvas>
        <canvas *ngIf="!global" baseChart
        [chartType] = "barChartType"
        [datasets] = "barChartData"
        [labels] = "barChartLabels">

        </canvas>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="">
        <h3 style="color: lightseagreen;">About Me</h3>
        <p>
          Thabiso is a Front End Developer Intern at LoadBox in Umhlanga.
          With a diploma in ICT in Applications Development. Currently he is enrolled in the Advanced Diploma in ICT at the Durban University of Technology, with the prospect of graduating in the next upcoming year.
        </p>
        <p>
          When it comes down to development, he is skilled in a range of programming languages, but believes the ability to be a good programmer does not solely lie on the amount of languages one can code in, but rather the logic behind the syntax.
          C#, TypeScript and Python are the languages he finds comfort in.
          Skilled in the Angular framework for front end development.
        </p>
        <p>
          Currently finding interest in Machine and Deep Learning. A number of certificates already under his belt
        </p>

      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3 style="margin-left: 20px; color: lightseagreen;">Keep in touch</h3>
        <ul class="list-unstyle">
          <li>
            <p><strong><i class="fa fa-map-marker-alt"></i>Address: </strong>Umbumbulu, Durban</p>
          </li>
          <li>
            <p><strong><i class="fa fa-envelope"></i>Email: </strong><a href="#">mtsharethabiso@gmail.com</a></p>
          </li>
          <li>
            <p><strong><i class="fa fa-phone"></i>Phone: </strong>+27 73 597 5973</p>
          </li>
        </ul>
        <ul style="margin-left: 15px;" class="list-inline">
          <!-- <li class="list-inline-item">
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
          </li> -->
          <li class="list-inline-item">
            <a href="https://twitter.com/ZakoMthiya">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/zakomthiya/?hl=en">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/mtsharethabiso">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
